<!DOCTYPE html>
<html>
<head>
<title>Cadastrar Recurso</title>
<meta charset="utf-8">
<script src="../../../js/menu.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<nav style="margin-bottom:30px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<div class="navbar-nav">
						<a th:attr="href='categoria'" class="nav-link" >Categorias</a>
						<a th:attr="href='filaDeEspera'" class="nav-link">Fila de espera</a>
						<a th:attr="href='../denuncia/registrarDenuncia'" class="nav-link">Denuncia</a>
						<a class="nav-link active disabled" aria-current="page" href="#">Cadastrar Recurso</a>
					</div>
				</div>
			</div>
		</nav>

		<!-- formulário de cadastro de recurso -->
		<form action="">
		
		
			<div class="row">
				<div class="form-group col">
					<h5>Categoria que irá pertencer</h5>
					<select class="form-select dropdownCategoryOption" name="categoria" aria-label="Default select example" style="width: 300px">
						<option value="1">Material</option>
						<option value="2">Salas</option>
						<option value="3">Eletrônicos</option>
					</select>
				</div>
				<div class="col">
					<h5>Nome</h5>
					<input onkeypress="return /[a-z]/i.test(event.key)" type="text" name="nome" class="form-control" style="width: 300px">
				</div>
				<div class="col quantityColumn">
					<h5>Quantidade</h5>
					<input onkeypress="return /[0-9]/i.test(event.key)" type="number" min="1" name="quantidade" class="form-control" style="width: 150px">
				</div>
			</div>
			<div style="margin-top: 10px; margin-bottom: 20px;">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Descrição do recurso" name="tipo" style="height: 100px"></textarea>
					<label for="floatingTextarea">Insira alguma descrição sobre este recurso</label>
				</div>
			</div>
			<button formmethod="post" type="submit" class="btn btn-primary">Salvar recurso</button>
		</form>
	</div>

	<script src="../../../js/cadastrarRecurso.js"></script>
</body>
</html>
