<html> 
    <head>
	<meta charset="utf-8">
	<title>Denúncia</title>
	<script src="../../../js/menu.js"></script>
    </head>     
    <body>
	<div class="container">
	    <br/><br/><br/><br/>

	    <h4>Insira o máximo de detalhes possível</h4>
	    <hr><br/><br/><br/>
	    
	    <div class="form-floating">
		<textarea class="form-control" placeholder="Descrição do recurso" style="height: 100px"></textarea>
		<label for="floatingTextarea">Lembre-se que se acusar alguém erôniamente, poderá acarretar punições</label>
	    </div></br></br>	    
	    <button type="submit" class="btn btn-primary">Denunciar</button>
	</div>
    </body>
</html>
